<html ng-app="crudModule">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de cliente</title>

    <!-- Bootstrap -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <div class="panel panel-primary" id="tblContainer" ng-controller="crudController">
            <div class="panel-heading">
                <h3>Cadastro de cliente</h3>
            </div>
            <div class="panel-body">

                <div class="form-horizontal">
                    <div class="control-group row-fluid form-inline row">

                        <div class="col-xs-2">
                            <label for="name" class="control-label">
                                <p class="text-info">Nome&nbsp;<i class="icon-star"></i></p>
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="nome" ng-model="Nome" />
                        </div>
                    </div>

                    <div class="control-group row-fluid form-inline row">
                        <div class="col-xs-2">
                            <label for="name" class="control-label">
                                <p class="text-info">Telefone residencial&nbsp;<i class="icon-star"></i></p>
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="nrotelefoneresidencial" required ng-model="NroTelefoneResidencial" />
                        </div>
                    </div>

                    <div class="control-group row-fluid form-inline row">
                        <div class="col-xs-2">
                            <label for="name" class="control-label">
                                <p class="text-info">Endereço&nbsp;<i class="icon-star"></i></p>
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="endereco" required ng-model="Endereco" />
                        </div>
                    </div>

                    <div class="control-group row-fluid form-inline row">
                        <div class="col-xs-2">
                            <label for="name" class="control-label">
                                <p class="text-info">Data Nascimento&nbsp;<i class="icon-star"></i></p>
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="datanascimento" required ng-model="DataNascimento" />
                        </div>
                    </div>

                    <div class="control-group row-fluid form-inline row">
                        <div class="col-xs-2">
                            <label for="name" class="control-label">
                                <p class="text-info">Telefone celular&nbsp;<i class="icon-star"></i></p>
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="nrotelefonecelular" required ng-model="NroTelefoneCelular" />
                        </div>
                    </div>
                    <br>
                    <input class="btn btn-primary col-xs-4" role="button" id="save" value="Salvar" ng-click="save()" />

                    <br>
                    <br>
                    <div class="alert alert-success" role="alert">
                        {{Message}}
                    </div>

                </div>
                <br>
                <br>
                <br>
                <br>
                <div id="dvcollection">

                    <table class="table" id="tblcollections">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Telefone Residencial</th>
                                <th>Endereço</th>
                                <th>Data Nascimento</th>
                                <th>Telefone Celular</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="Cliente in Clientes">
                            <tr ng-click="get(Cliente)">
                                <td><span>{{Cliente.Nome}}</span></td>
                                <td><span>{{Cliente.NroTelefoneResidencial}}</span></td>
                                <td><span>{{Cliente.Endereco}}</span></td>
                                <td><span>{{Cliente.DataNascimento}}</span></td>
                                <td><span>{{Cliente.NroTelefoneCelular}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
<script src="../Scripts/angular.js"></script>
<script src="../Scripts/angular-route.js"></script>
<script src="../Scripts/js-app/Module.js"></script>
<script src="../Scripts/js-app/Service.js"></script>
<script src="../Scripts/js-app/Controllers.js"></script>
